/*YORUM*/
bady{
  margin: 2% 10%;
}
.kum{
  width: 150px;
  height: 150px;
}
.hakkımda{

  padding: 2%;
  background-color: #cffffe;
}

.hak{
  padding-left: 2rem;
}

.Hobilerim{
  padding: 2%;
  background-color: #f9f7d9;
}
.gün1{
  width: 150px;
  height: 150px;
}
.hob{
  padding-right: 2rem;
}
.hedeflerim{
  padding: 2%;
  background-color: #fce2ce;
}
.yaprak{
  width: 150px;
  height: 150px;
}
.hed{
  padding-left: 2rem;
}
